In [15]:
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [16]:
print(os.listdir('assets/data'))

['.ipynb_checkpoints', 'DelayedFlights.csv']

In [19]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# DelayedFlights.csv has 1936758 rows in reality, but we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('assets/data/DelayedFlights.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'DelayedFlights.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 1000 rows and 30 columns

In [18]:
df1.head(5)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   Year               1000 non-null   int64
 2   Month              1000 non-null   int64
 3   DayofMonth         1000 non-null   int64
 4   DayOfWeek          1000 non-null   int64
 5   DepTime            1000 non-null   float64
 6   CRSDepTime         1000 non-null   int64
 7   ArrTime            1000 non-null   float64
 8   CRSArrTime         1000 non-null   int64
 9   UniqueCarrier      1000 non-null   object
 10  FlightNum          1000 non-null   int64
 11  TailNum            1000 non-null   object
 12  ActualElapsedTime  1000 non-null   float64
 13  CRSElapsedTime     1000 non-null   float64
 14  AirTime            1000 non-null   float64
 15  ArrDelay           1000 non-null   float64
 16  DepDelay           1000 non-null   float64
 17  Origin             1000 non-null   object
 18  Dest               1000 non-null   object
 19  Distance           1000 non-null   int64
 20  TaxiIn             1000 non-null   float64
 21  TaxiOut            1000 non-null   float64
 22  Cancelled          1000 non-null   int64
 23  CancellationCode   1000 non-null   object
 24  Diverted           1000 non-null   int64
 25  CarrierDelay       651 non-null    float64
 26  WeatherDelay       651 non-null    float64
 27  NASDelay           651 non-null    float64
 28  SecurityDelay      651 non-null    float64
 29  LateAircraftDelay  651 non-null    float64
dtypes: float64(14), int64(11), object(5)
memory usage: 234.5+ KB